I am not sure what we are supposed to write in here, but I will use it to include the URL's 
of the IPython Notebooks I write:

1) Module 01 Lesson 02- Phugoid Oscillation:  http://nbviewer.ipython.org/gist/Kapiva90/b0bb0dd7fe5da1f224f1
